[submodule "Angr/tracer"]
	path = Angr/tracer
	url = https://github.com/angr/tracer.git
[submodule "Angr/claripy"]
	path = Angr/claripy
	url = https://github.com/angr/claripy.git
[submodule "Angr/cle"]
	path = Angr/cle
	url = https://github.com/angr/cle.git
[submodule "Angr/angr"]
	path = Angr/angr
	url = https://github.com/angr/angr.git
[submodule "Angr/angr-z3"]
	path = Angr/angr-z3
	url = https://github.com/angr/angr-z3.git
[submodule "Angr/archinfo"]
	path = Angr/archinfo
	url = https://github.com/angr/archinfo.git
[submodule "Angr/pyvex"]
	path = Angr/pyvex
	url = https://github.com/angr/pyvex.git
[submodule "Angr/simuvex"]
	path = Angr/simuvex
	url = https://github.com/angr/simuvex.git
